* {
    margin: 0;
    padding: 0;
}

.main {
    height: 100vh;
    width: 100%;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://images.unsplash.com/photo-1523240795612-9a054b0db644?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fHN0dWRlbnR8ZW58MHx8MHx8fDA%3D');
}

.headMain {
    background-color: rgb(255, 255, 255);
    display: flex;
    width: 100%;
    height: 75px;
    margin: 1px;
    justify-content: space-around;
}

.itemHeader {
    display: flex;
    align-items: center;
    background-color: #fff;
    justify-content: space-between;
}

.itemHeader a {
    font-weight: 800;
    font-size: large;
    color: #505050;
    text-decoration: none;
    transition: 0.3s;
}

.itemHeader h1 {
    color: #743f3f;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px rgb(95, 95, 95);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    opacity: 1;
    transition: 1s;
}

.itemHeader h1:hover {
    color: #505050;
    transition: 1s;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 2px 2px 5px rgb(0, 255, 191);
    text-transform: uppercase;
}

.contact:hover {
    font-weight: bolder;
    font-size: large;
    color: #6dc3f5;
    text-decoration: none;
    opacity: 1
}


.header-bar {
    background-color: #333;
    height: 60px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header-bar h1 {
    color: #fff;
    margin: 0;
    font-size: 24px;
    padding-left: 20px;
}

.header-bar a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    font-size: 20px;
    transition: 0.5s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Geneva, Tahoma, sans-serif;
}

.header-bar a:hover {
    color: rgb(0, 0, 0);
    background-color: aliceblue;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    font-size: 21px;
    transition: 0.5s;
    padding: 8px;
    border-radius: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Geneva, Tahoma, sans-serif;
}